<div class="container text-center">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquam, nisi aperiam illo corporis atque quos sed earum quidem amet
        repudiandae nulla perferendis pariatur placeat cumque nostrum porro 
        voluptatum sit ratione.
    </p>
</div>